body{
	background-image: url("../img/bikeground.jpg");
  background-color: #3f3f3f;
	background-repeat:no-repeat;
  background-size:cover;
	background-attachment: fixed;
	font-family:Tahoma;
}

ul{
	list-style:none;
}

ul label{
	width:100px;
	float:left;
}

[data-link] {
	    cursor: pointer;
	 }

.baton {
	background-color: rgb(0, 0, 0);
	    /* RGBa with 0.6 opacity */
	    background-color: rgba(0, 0, 0, 0.3);


    //display: inline-block;
		position:absolute;
		color: #fff;
		text-align: center;
		/*margin-left: auto;
	  margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;*/
		border-radius: 25px;
		padding : 30px;
    width: 150px;
    height: 30px;
    border: 1px solid #fff;
		left:50%;
		top:50%;
		margin:-46px 0 0 -106px;
}
.baton:hover {
    background-color: white;
		background-color: rgba(255, 255, 255, 0.3);
		color: #000;
		border: 1px solid #000;
}

.entire {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	  background-color: rgba(255, 255, 255, 0.7);
text-align: center;
position: absolute;
left:50%;
top:50%;
width: 750px;
margin:-140px 0 0 -375px;

}

.yellow {
    color: #EDA113;
}

.red {
    color: #A30707;
}

.btn {
	float:left;
}

#btnSave{
	float:left;
}

#frmCadastre{
	border:solid 1px;
}

#lista{
	width:100%;
	border:solid 1px;
	text-align:left;
   	border-collapse:collapse;
}

#lista tbody tr{
	border:solid 1px;
	height:30px;
	border-radius: 20%;
}

#lista thead{
	background:silver;
}
